<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Game Board</span>      
      <div layout="row" >
        <div flex class="yellow">
          <div layout="column">
            <div flex>a</div>
            <div flex>a</div>
            <div flex>a</div>
          </div>
        </div>        
        <div flex class="blue">
          <div layout="column">
            <div flex>a</div>
            <div flex>a</div>
            <div flex>a</div>
          </div>
        </div>
        <div flex class="teal">
          <div layout="column">
            <div flex>a</div>
            <div flex>a</div>
            <div flex>a</div>
          </div>
        </div>
      </div>
    </md-card-title-text>    
  </md-card-title>  
</md-card>