<div layout="row">
	<div flex>
		<md-toolbar md-scroll-shrink class="md-accent">
			<div class="md-toolbar-tools yellow">List Room</div>
		</md-toolbar>
			<md-card>
		    <md-card-title class="room">
		      <md-card-title-text>
		      	<span class="md-subhead blue chat-content game-room" ng-repeat="(creator, detail) in rooms" ng-click="chooseRoom($event,creator)">
		      		<table>
		      			<tr>
		      				<td>Creator</td>
		      				<td> : <b>{{creator}}</b></td>
		      			</tr>
		      			<tr>
		      				<td>Opponent</td>
		      				<td>: <b>{{detail.opponent}}</b></td>
		      			</tr>
		      			<tr>
		      				<td>Spectator</td>
		      				<td>: 
		      					<span ng-repeat="spectator in detail.spectators">
		      						<b> {{spectator}}</b>, 
		      					</span>
		      				</td>
		      			</tr>
		      		</table>		      					      			
		      	</span>		        
		      </md-card-title-text>                    
		    </md-card-title>
		    <md-card-actions layout="row"  layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button class="md-fab" aria-label="new room"  ng-click='makeRoom($event)'>
		            <md-icon md-svg-src="../resources/assets/js/angular/icon/ic_add_white_48px.svg"></md-icon>
		        </md-button>
		    </md-card-actions>
		  </md-card>
	</div>
	<div flex>
	<!-- chat -->
	<md-toolbar md-scroll-shrink class="md-accent">
		<div class="md-toolbar-tools">Chat</div>
	</md-toolbar>
	<md-card>
	    <md-card-title class="chat">
	      <md-card-title-text>          	
	      	<span class="md-subhead blue chat-content" ng-repeat="chat in chats"><b>{{chat.user}}</b><br>{{chat.message}}</span>
	        <span id = 'bottom'></span>
	      </md-card-title-text>                    
	    </md-card-title>
	    <md-card-actions layout="row" layout-align="end center">          
	      	<md-input-container flex>
			  <label>Type Here</label>
			  <input type="text" ng-model = "chat" ng-enter="submit()"/>
			</md-input-container>
	    </md-card-actions>
	  </md-card>
	</div>    
</div>